<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Courgette&display=swap" rel="stylesheet">
    <title>insta485</title>
  </head>
  <body>

    <header>
      <div>
        <div class = "headerSection">
          <p><a href = "/"> <img id = "instalogo" src = "/images/instaLogo.png" alt = "Instagram Icon"></a></p>
          <p><a href = "/">Insta485 </a></p>
        </div>
        <div class = "headerSection2">
          <p><a href = "/explore/"> explore </a><a href = "/users/{{logname}}/"> | {{logname}} </a></p>
        </div>
      </div>
    </header>

    <form action="/accounts/?target={{url_for('show_edit')}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*"/>
        <input type="text" name="fullname" value="{{fullname}}" required/>
        <input type="text" name="email" value="{{email}}" required/>
        <input type="submit" name="update" value="submit"/>
        <input type="hidden" name="operation" value="edit_account"/>
    </form>

    <a href="/accounts/password/">Change Password</a>
    <a href="/accounts/delete/">Delete Account</a>

</body>
</html>