<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Courgette&display=swap" rel="stylesheet">
    <title>insta485</title>
  </head>
  <body>

    <header>
      <div>
        <div class = "headerSection">
          <p><a href = "/"> <img id = "instalogo" src = "/images/instaLogo.png" alt = "Instagram Icon"></a></p>
          <p><a href = "/">Insta485 </a></p>
        </div>
        <div class = "headerSection2">
          <p><a href = "/explore/"> explore </a><a href = "/users/{{logname}}/"> | {{logname}} </a></p>
        </div>
      </div>
    </header>

    <h1> Discover People</h1>

    {% for profile in allUsers %}
      {% if profile.username not in following and profile.username != logname%}
        <div class = "follower_box">
            <img class = "profilePic" src = "/uploads/{{profile.filename}}" alt = "not following profile pic">
            <p class = "text"><a href = "/users/{{profile.username}}/">{{profile.username}}</a></p>
            <form action="/following/?target=/explore/" method="post" enctype="multipart/form-data">
              <input type="submit" name="follow" value="follow"/>
              <input type="hidden" name="username" value="{{profile.username}}"/>
              <input type="hidden" name="operation" value="follow"/>
            </form>
        </div>
      {% endif %}
    {% endfor %}

</body>
</html>