<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Courgette&display=swap" rel="stylesheet">
    <title>insta485</title>
  </head>
  <body>

    <header>
      <div>
        <div class = "headerSection">
          <p><a href = "/"> <img id = "instalogo" src = "/images/instaLogo.png" alt = "Instagram Icon"></a></p>
          <p><a href = "/">Insta485 </a></p>
        </div>
        <div class = "headerSection2">
          <p><a href = "/explore/"> explore </a><a href = "/{{logname}}/"> | {{logname}} </a></p>
        </div>
      </div>
    </header>

    <h1> Discover People</h1>

    {% for notfollow in not_following %}
        <div class = "follower_box">
            <img class = "profilePic" src = "{{notfollow.user_img_url}}" alt = "not following profile pic">
            <p class = "text"><a href = "/u/{{notfollow.username}}/">{{notfollow.username}}</a></p>
        </div>
    {% endfor %}

</body>
</html>