<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Courgette&display=swap" rel="stylesheet">
    <title>insta485</title>
  </head>
  <body>

    <header>
      <div>
        <div class = "headerSection">
          <p><a href = "/"> <img id = "instalogo" src = "/images/instaLogo.png" alt = "Instagram Icon"></a></p>
          <p><a href = "/">Insta485 </a></p>
        </div>
        <div class = "headerSection2">
          <p><a href = "/explore/"> explore </a><a href = "/users/{{logname}}/"> | {{logname}} </a></p>
        </div>
      </div>
    </header>

    <!-- DO NOT CHANGE THIS -->
    <form action="/accounts/?target={{url_for('show_edit')}}" method="post" enctype="multipart/form-data">
        <input type="password" name="password" required/>
        <input type="password" name="new_password1" required/>
        <input type="password" name="new_password2" required/>
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>

    <a href="/accounts/edit/">Back to edit account</a>

</body>
</html>