<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Courgette&display=swap"
        rel="stylesheet">
    <title>insta485</title>
</head>

<body>

    <header>
        <div>
            <div class="headerSection">
                <p><a href="/"> <img id="instalogo" src="/images/instaLogo.png" alt="Instagram Icon"></a></p>
                <p><a href="/">Insta485 </a></p>
            </div>
            <div class="headerSection2">
                <p><a href="/explore/"> explore </a><a href="/users/{{logname}}/"> {{logname}}</a></p>
            </div>
        </div>
    </header>


    <div class="postCard">
        <div class="postHeader">
            <div class="user text">
                <a href="/users/{{owner}}/"><img class="profilePic" src="/uploads/{{owner_img_url}}"
                        alt="{{owner}} profile pic"> </a>
                <a href="/users/{{owner}}/">
                    <p> {{owner}} </p>
                </a>
            </div>
            <p class="text"><a href="/posts/{{postid}}/"> {{timestamp}} </a></p>
        </div>
        <img class="postPic" src="/uploads/{{img_url}}" alt="post image">

        {% if likes == 1 %}
            <p class="text">{{likes}} like </p>
        {% else %}
            <p class="text">{{likes}} likes </p>
        {% endif %}

        {% if liked %}
            <form action="/likes/?target={{url_for('show_post', postid_url_slug = postid)}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="unlike"/>
                <input type="hidden" name="postid" value="{{postid}}"/>
                <input type="submit" name="unlike" value="unlike"/>
            </form>
        {% else %}
            <form action="/likes/?target={{url_for('show_post', postid_url_slug = postid)}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="like"/>
                <input type="hidden" name="postid" value="{{postid}}"/>
                <input type="submit" name="like" value="like"/>
            </form>
        {% endif%}

        {% for comment in comments %}
            <p class="text"> <b><a href="/users/{{comment.owner}}/">{{comment.owner}}</a></b> {{comment.text}}</p>
            {% if comment.owner == logname %}
                <form action="/comments/?target={{url_for('show_post', postid_url_slug = postid)}}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="delete"/>
                    <input type="hidden" name="commentid" value="{{comment.commentid}}"/>
                    <input type="submit" name="uncomment" value="delete"/>
                </form>
            {% endif %}
        {% endfor %}

        <form action="/comments/?target={{url_for('show_post', postid_url_slug = postid)}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="create"/>
            <input type="hidden" name="postid" value="{{postid}}"/>
            <input type="text" name="text" required/>
            <input type="submit" name="comment" value="comment"/>
        </form>

        {% if owner == logname %}
            <form action="/posts/?target={{url_for('show_user', user_url_slug = logname)}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="delete"/>
                <input type="hidden" name="postid" value="{{postid}}"/>
                <input type="submit" name="delete" value="delete this post"/>
            </form>
        {% endif %}
    </div>

</body>

</html>