<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Courgette&display=swap" rel="stylesheet">
    <title>insta485</title>
  </head>
  <body>

    <header>
      <div>
        <div class = "headerSection">
          <p><a href = "/"> <img id = "instalogo" src = "/images/instaLogo.png" alt = "Instagram Icon"></a></p>
          <p><a href = "/">Insta485 </a></p>
        </div>
        <div class = "headerSection2">
          <p><a href = "/explore/"> explore </a><a href = "/users/{{logname}}/"> | {{logname}} </a></p>
        </div>
      </div>
    </header>

    <h1> {{username}} </h1>
    <p class="text">{{fullname}}</p>
    <a href="/accounts/edit/">Edit profile</a>

    {% if username == logname%}
    <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
      <input type="submit" name="logout" value="Logout"/>
    </form>
    {% endif %}


    {% if username == logname %}
        
    {% elif logname_follows_username %}
        <p class="text">following</p>
        <form action="/following/?target={{url_for('show_user', user_url_slug = username)}}" method="post" enctype="multipart/form-data">
          <input type="submit" name="unfollow" value="unfollow"/>
          <input type="hidden" name="username" value="{{username}}"/>
          <input type="hidden" name="operation" value="unfollow"/>
        </form>
    {% else %}
        <p class="text">not following</p>
        <form action="/following/?target={{url_for('show_user', user_url_slug = username)}}" method="post" enctype="multipart/form-data">
          <input type="submit" name="follow" value="follow"/>
          <input type="hidden" name="username" value="{{username}}"/>
          <input type="hidden" name="operation" value="follow"/>
        </form>
    {% endif %}

    {% if followers == 1 %}
        <p class="text"><a href = "/users/{{username}}/followers/">{{followers}} follower</a> </p>
    {% else %}
        <p class="text"><a href = "/users/{{username}}/followers/">{{followers}} followers</a> </p>
    {% endif %}

    <p class="text"><a href = "/users/{{username}}/following/">{{following}} following</a> </p>

    {% if total_posts == 1 %}
        <p class="text">{{total_posts}} post </p>
    {% else %}
        <p class="text">{{total_posts}} posts </p>
    {% endif %}

    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="/posts/?target={{url_for('show_user', user_url_slug = logname)}}" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="image/*" required/>
      <input type="submit" name="create_post" value="upload new post"/>
      <input type="hidden" name="operation" value="create"/>
    </form>

    {% for post in posts %}
        <a href = "/posts/{{post.postid}}/"><img src = "/uploads/{{post.filename}}" alt = "post pic"></a>
        <hr>
    {% endfor %}



  </body>
</html>
